@import '../../colors.scss';

.filtersBar {
  width: 95%;
  display: flex;
  justify-content: space-around;
}

.filtersBar__section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: $color_main-100;
  font-weight: bold;
  font-size: 1.05rem;

  &.filtersBar__section--select {
    width: 25%;
  }

  &.filtersBar__section--range {
    width: 20%;
  }

  &.filtersBar__section--booleans {
    width: 20%;
  }
}

.filtersBar__section__label {
  margin-right: 5%;
}

.filtersBar__section__subsection {
  width: 40%;
}