$color_main-100: rgba(10,147,213,1);
$color_main-80: rgba(10,147,213,0.8);
$color_main-60: rgba(10,147,213,0.6);
$color_main-50: rgba(10,147,213,0.5);
$color_main-40: rgba(10,147,213,0.4);
$color_main-30: rgba(10,147,213,0.3);
$color_main-20: rgba(10,147,213,0.2);
$color_main-10: rgba(10,147,213,0.1);
$color_sec-100: rgba(255,255,255,1);

$color_success-text: #0f5132;
$color_success-bg: #d1e7dd;
$color_success-border: #badbcc;
$color_error-text: #842029;
$color_error-bg: #f8d7da;
$color_error-border: #f5c2c7;

$color_danger: #dc3545